<script>
	if({{ok}}!=1) window.location.href = "/home";
</script>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<title>Novo</title>
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/home">HOME</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/usuarios">Cadastro</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin">Administrar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/usuarios/novo">Novo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/usuarios/login">Sair</a>
			</li>
		</ul>
	</nav>
	<br>
	<div class="container">
		<h2>{{titulo}}</h2>
		<form action="/usuarios/salvarNovo/" method="POST" name="frmUsuariosNovo">{% csrf_token %}
			<div class="form-group">
				<label for="name">Nome:</label>
				<input type="text" class="form-control" 
				name="name" id="name" value="">
			</div>
			<div class="form-group">
				<label for="email">E-Mail:</label>
				<input type="email" class="form-control" 
				name="email" id="email" value="">
			</div>
			<div class="form-group">
				<label for="user">Usuário:</label>
				<input type="text" class="form-control" 
				name="user" id="user" value="">
			</div>
			<div class="form-group">
				<label for="password">Senha:</label>
				<input type="text" class="form-control" 
				name="password" id="password" value="">
			</div>
			<div class="form-group">
				<select class="form-control" name="active" id="active">
					<option value="1">Usuário Ativo</option>
					<option value="0">Usuário Inativo</option>
				</select>
			</div>
			<a href="/usuarios" class="btn btn-secondary" role="button">
				Cancelar
			</a>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
</body>
</html>
